<!DOCTYPE html>
<html>
<head>
	<title>Photo Gallery</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
	<body>
		<h1>Photo Gallery</h1>
		<div>
			<% photos.forEach(function(photo){%>
				<a href="/photos/<%=photo._id%>">
					<img src="<%=photo.photoUrl%>">
				</a>
			<%})%>
			<form action="/photos/new" method="GET">
				<input type="submit" value="Add New Photo">
			</form>
		</div>
	</body>
</html>