<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
	<body id="background">
		<h1>Welcome to Z Gallery</h1>
		<h2>Where are you headed to first?</h2>
		<section>
			<form action="/users" method="GET">
				<button>User Profiles</button>
			</form>
			<form action="/photos" method="GET">
				<button>Photo Gallery</button>
			</form>
		</section>
	</body>
</html>