<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
</head>
	<body id="background">
		<div class="container changesContainer">
			<h1 id="mainHeader">Welcome to Z Gallery</h1>
			<section class="homeButtons">
				<form class="homeButton" action="/users" method="GET">
					<button class="home">User Profiles</button>
				</form>
				<form class="homeButton" action="/photos" method="GET">
					<button class="home">Photo Gallery</button>
				</form>
			</section>
		</div>
	</body>
</html>