body, html {
	height: 100%;
	margin: 0;
}

body {
	text-align: center;
	vertical-align: middle;
}

#background {
	background-image: url("https://i.pinimg.com/originals/e7/e5/25/e7e52546cfb88e927815bdfd68e1cef2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

h1 {
	color: white;
	font-size: 80px;
	font-family: 'Lobster', cursive;
	text-shadow:
		-1px 6px #FFB547, 
		2px -1px 1px #13E8E1, 
		-2px 12px 1px #FF66C0, 
		2px 2px 2px #5BFF84;
}

h2 {
	font-family: 'Playfair Display', serif;
	font-size: 40px;
	color: white;
	text-shadow:
		-1px -1px 2px black,
		1px -1px 1px black,
		-1px 1px 2px black,
		1px 1px 1px black;

}

.container {
	background-color: rgba(0,0,0,.5);
	display: inline-block;
	padding: 10px 40px;
	line-height: .5;
	background-size: contain;
	box-shadow: 0 0 15px 10px black;
}

.changesContainer {
	margin-top: 150px;
}

img {
	height: 150px;
	width: 240px;
	border: thin solid #00CED1;
	display: inline-block;
	margin: 4px 2px;
}

.galleryImgAnchor:hover {
    width:100%;
    height:100%;
    background-color:#000;
    opacity:0.5;
    z-index: 100;
}

.showImage {
	height: 400px;
	width: 600px;
}

.newPhotoForm, .editForm, .createNewUserForm {
	color: white;
	font-size: 30px;
	line-height: 1;
	font-family: 'Lobster', cursive;
	text-shadow:
		-1px -1px 2px black,
		1px -1px 1px black,
		-1px 1px 2px black,
		1px 1px 1px black;
}

input[type=text] {
	width: 30%;
	font-size: 14px;
	color: navy;
	text-shadow: none;
}

.editInput {
	width: 30%;
	font-size: 14px;
	color: navy;
	text-shadow: none;
}

#newUsername {
	background-color: #FFB547;
}

#newPhotoUrl {
	background-color: #13E8E1;
}

#newPhotoName {
	background-color: #FF66C0;
}

#newPassword {
	background-color: #FF66C0;
}

#newCaption, #editCaption {
	background-color: #5BFF84;
	margin-top: 5px;
	height: 50px;
	width: 200px;
}

button {
	background-color: #13E8E1;
	font-family: 'Playfair Display', serif;
	font-size: 20px;
	margin: 5px 0 5px 0;
	border-radius: 25px;
	color: white;
	text-shadow:
		-1px -1px 2px black,
		1px -1px 1px black,
		-1px 1px 2px black,
		1px 1px 1px black;
}

button:hover {
	background-color: #7278E8;
}

button:active {
  	background-color: #7278E8;
  	box-shadow: 0 5px #666;
  	transform: translateY(4px);
}

input {
	background-color: #13E8E1;
	font-family: 'Playfair Display', serif;
	font-size: 20px;
	color: white;
	text-shadow:
		-1px -1px 2px black,
		1px -1px 1px black,
		-1px 1px 2px black,
		1px 1px 1px black;
}

#submitNewPhoto {
	border-radius: 25px;
	margin-top: 10px;
	margin-bottom: 5px;
}

#submitNewPhoto:hover {
	background-color: #7278E8;
}

#submitNewPhoto:active {
  	background-color: #7278E8;
  	box-shadow: 0 5px #666;
  	transform: translateY(4px);
}

#addNewPhoto, #createNewUserButton {
	background-color: #13E8E1;
	font-family: 'Playfair Display', serif;
	font-size: 20px;
	margin: 5px 0 5px 0;
	border-radius: 25px;
}

#editUsername {
	background-color: #FFB547;
}

#editPassword {
	background-color: #FF66C0;
}

#editPhotoUrl {
	background-color: #13E8E1;
}

#editPhotoName {
	background-color: #FF66C0;
}

#editCaption {
	background-color: #5BFF84;
}

#addNewPhoto:hover, #createNewUserButton:hover {
	background-color: #FF66C0;
}

#addNewPhoto:active, #createNewUserButton:active {
  	background-color: #FF66C0;
  	box-shadow: 0 5px #666;
  	transform: translateY(4px);
}

p {
	color: white;
	font-size: 22px;
	text-shadow:
		-1px -1px 2px black,
		1px -1px 1px black,
		-1px 1px 2px black,
		1px 1px 1px black;
}

#uploadedBy {
	font-size: 18px;
}

.showButtons {
	background-color: #13E8E1;
	font-family: 'Playfair Display', serif;
	font-size: 20px;
	margin: 5px;
	border-radius: 25px;
	color: white;
	text-shadow:
		-1px -1px 2px black,
		1px -1px 1px black,
		-1px 1px 2px black,
		1px 1px 1px black;
}

.showButtons:hover {
	background-color: #FFB547;
}

.showButtons:active {
  	background-color: #FFB547;
  	box-shadow: 0 5px #666;
  	transform: translateY(4px);
}

.submitEdit {
	background-color: #13E8E1;
	font-family: 'Playfair Display', serif;
	font-size: 20px;
	margin: 5px;
	border-radius: 25px;
	color: white;
	text-shadow:
		-1px -1px 2px black,
		1px -1px 1px black,
		-1px 1px 2px black,
		1px 1px 1px black;
}

.submitEdit:hover {
	background-color: #FFB547;
}

.submitEdit:active {
  	background-color: #FFB547;
  	box-shadow: 0 5px #666;
  	transform: translateY(4px);
}

.showForm {
	display: inline-flex;
}

#editPhotoOnShow:hover {
 background-color: #5BFF84;
}

#backToGallery:hover {
	background-color: #5BFF84;
}

#backToGallery:active {
	background-color: #5BFF84;
  	box-shadow: 0 5px #666;
  	transform: translateY(4px);
}

#submitNewUser {
	background-color: #13E8E1;
	font-family: 'Playfair Display', serif;
	font-size: 20px;
	margin: 5px;
	border-radius: 25px;
	color: white;
	text-shadow:
		-1px -1px 2px black,
		1px -1px 1px black,
		-1px 1px 2px black,
		1px 1px 1px black;
}

#submitNewUser:hover {
	background-color: #7278E8;
}

#submitNewUser:active {
	background-color: #7278E8;
  	box-shadow: 0 5px #666;
  	transform: translateY(4px);
}

.usersOnIndex {
	font-family: 'Playfair Display', serif;
	color: #FFB547;
	text-decoration: none;
	font-size: 20px;
	line-height: 1.5;
	text-shadow:
		-1px -1px 2px black,
		1px -1px 1px black,
		-1px 1px 2px black,
		1px 1px 1px black;
}

.usersOnIndex:hover {
	color: #5BFF84;
}

#userIndex {
	margin: 5px;
}

.userShow {
	display: block;
	margin-bottom: 20px;
}

.userShowForms {
	margin: 0 5px;
}

#editUserInfo {
	background-color: #13E8E1;
	font-family: 'Playfair Display', serif;
	font-size: 20px;
	margin: 5px;
	border-radius: 25px;
	color: white;
	text-shadow:
		-1px -1px 2px black,
		1px -1px 1px black,
		-1px 1px 2px black,
		1px 1px 1px black;
}

#deleteUser {
	background-color: #13E8E1;
	font-family: 'Playfair Display', serif;
	font-size: 20px;
	margin: 5px;
	border-radius: 25px;
	color: white;
	text-shadow:
		-1px -1px 2px black,
		1px -1px 1px black,
		-1px 1px 2px black,
		1px 1px 1px black;
}

#editUserInfoInput {
	border-radius: 25px;
}

#editUserInfoInput:hover {
	background-color: #FFB547;
}

#editUserInfoInput:active {
	background-color: #FFB547;
  	box-shadow: 0 5px #666;
  	transform: translateY(4px);
}

#deleteUserInput {
	border-radius: 25px;
}

#deleteUserInput:hover {
	background-color: #5BFF84;
}

#deleteUserInput:active {
	background-color: #5BFF84;
  	box-shadow: 0 5px #666;
  	transform: translateY(4px);
}

.editUserInfoForms {
	color: white;
	font-size: 30px;
	line-height: 1;
	font-family: 'Lobster', cursive;
	text-shadow:
		-1px -1px 2px black,
		1px -1px 1px black,
		-1px 1px 2px black,
		1px 1px 1px black;
}

.homeButtons {
	display: inline-flex;
}

.homeButton {
	margin: 0 15px;
}

.home {
	font-size: 35px;
	padding: 10px;
}

#backToGalleryButton {
	margin-right: 5px;
}

.photoIndexButtons {
	margin-top: 10px;
}

