<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
</head>
	<body id="background">
		<div class="container userIndexContainer">
			<h1>User Profiles</h1>
			<%users.forEach(function(users){%>
					<a class="usersOnIndex" href="/users/<%=users._id%>"><button class="profileButtons"><%=users.username%></button></a>
			<%})%>
			<form action="/users/new" method="GET">
				<input id="createNewUserButton" type="submit" value="Create New User">
			</form>
			<form action="/" method="GET">
				<button>Home</button>
			</form>
		</div>

	</body>
</html>