<!DOCTYPE html>
<html>
<head>
	<title>New User</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
</head>
	<body id="background">
		<div class="container changesContainer">
			<h1>Create New User</h1>
			<form class="createNewUserForm" action="/users" method="POST">
				Username: <input id="newUsername" type="text" name="username"><br/>
				Password: <input id="newPassword" type="text" name="password"><br/>
				<input id="submitNewUser" type="submit" value="Create Account">
			</form>
			<form action="/users" method="GET">
					<button id="backToGallery">Back to User Profiles</button>
			</form>
		</div>
	</body>
</html>